* {
  font-family: monospace;
  font-size: 42px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container,
#display {
  display: flex;
  width: 380px;
}

#container {
  background-color: black;
  flex-direction: column;
  border-radius: 40px;
  height: 576px;
}

#display {
  justify-content: right;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  height: 120px;
  font-size: 56px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 12px;
}

.func-button,
.operator,
.number {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 40px;
}

.func-button:hover,
.operator:hover,
.number:hover {
  cursor: pointer;
}

.func-button:active,
.operator:active {
  opacity: 0.8;
  transition-duration: 0.1s;
}

.number:active {
  transition-duration: 0.05s;
  color: rgb(32, 32, 32);
  background-color: antiquewhite;
}

.number {
  background-color: rgb(32, 32, 32);
  transition-duration: 0.5s;
}

.number#zero {
  grid-column: span 2;
  justify-content: left;
  padding-left: 28px;
}

.func-button {
  color: black;
  background-color: gray;
}

.operator {
  background-color: darkcyan;
}

.operator.active {
  color: darkcyan;
  background-color: darkgray;
}